<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class="h1">Toca la carta </h1>
<div class="card">
    <div class="outside">
        <div class="front">
            <p>Feliz Cumpleaños Victoria</p>
            <div class="cake">
                <div class="top-layer"></div>
                <div class="middle-layer"></div>
                <div class="bottom-layer"></div>
                <div class="candle"></div>
                
            </div>
            
        </div>
        <div class="black">
            <p>De:Richard 
                para:Victoria.
            </p>
        </div>
    </div>
    <div class="inside">
        <p>¡Feliz cumpleaños! 🎉 Que este día esté lleno de alegría, amor y buenos momentos. Que todos tus deseos se hagan realidad en este nuevo año de vida. ¡Disfruta al máximo tu día especial! 🎂🎈</p>
        <h1>&#127873;</h1>
    </div>
</div>

</body>
</html>